@import 'tailwindcss';
@plugin 'daisyui' {
  themes:
    nord --default,
    night --prefersdark;
}

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    min-width: 320px;
  }
}
